.header{
    background-color: #ffffff;
    max-width: 100%;
    height: 80px;
    display: flex;
    direction: column;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
}

.header-text-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 464px;
}