.header{
    background-color: #ffffff;
    max-width: 100%;
    height: 80px;
    display: flex;
    direction: column;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    z-index: 100;
    position: sticky;
}

.header-text-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 464px;
}

.above-fold-flexbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.af-div-one{
    display: flex;
    justify-content: flex-end;
}

.af-div-three{
    display: flex;;
    justify-content: flex-start;
}