.footer{
    height: 480px;
    background-color:#ffffff;
    background-image: url('./images/pink-blob-footer.svg'), url('./images/blue-blob-footer.svg'), url('./images/coral-blob-footer.svg'), url('./images/light-blue-blob-footer.svg'), url('./images/purple-blob-footer.svg');
    background-position: left top, center top, right top, left bottom, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

.footer-wrapper{
    display: flex;
    width: 843px;
    flex-direction: column;
}