.footer{
    height: 480px;
    background-color:#ffffff;
    background-image: url('./images/pink-blob-footer.svg'), url('./images/blue-blob-footer.svg'), url('./images/coral-blob-footer.svg'), url('./images/light-blue-blob-footer.svg'), url('./images/purple-blob-footer.svg');
    background-position: left top, center top, right top, left bottom, right bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-logo{
    padding-top: 4px;
}

.footer-wrapper{
    display: flex;
    width: 58%;
    flex-direction: row;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links-bottom{
    display: flex;
    flex-direction: column;
}

.corner-text{
    align-self: flex-end;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 32px;
    width: 21%;
    padding-right: 40px;
}

.footer-dummy{
    width: 21%;
}