@media only screen and (min-width: 768px) and (max-width:999px){
    
    #first-hand-coral{
        width: 223px;
    }

    #second-hand-baby-blue{
        width: 216px;
    }

    #baby-pink-hand{
        width: 401px;
    }

    #coral-hands{
        width: 295px;
    }

    #dark-purple-hand{
        width: 258px;
    }

    #darker-blue-hand{
        width: 327px;
    }  
}


