@media only screen and (min-width: 768px) and (max-width:1070px){
    
    #first-hand-coral{
        width: 223px;
    }

    #second-hand-baby-blue{
        width: 216px;
    }

    #baby-pink-hand{
        width: 401px;
    }

    #coral-hands{
        width: 295px;
    }

    #dark-purple-hand{
        width: 258px;
    }

    #darker-blue-hand{
        width: 327px;
    }

    .footer{
        background-size: 20%;
    }

    .footer-logo{
        padding-right: 40px;
    }

    .footer-links-top{
        padding-right: 40px;
    }

    .footer-links{
        padding-right: 40px;
    }

    .information-text{
        white-space: nowrap;
    }

    .information-text-bottom{
        white-space: nowrap;
    }

    .footer-dummy{
        width: 11%;
    }

    .uf-div-one{
        padding-left: 100px;
    }

    .third-partition{
        padding-left: 20px;
    }

    .uf-div-two{
        padding-right: 20px;
        padding-left: 40px;
    }

    .uf-div-three{
        padding-left: 100px;
    }

    .uf-div-four{
        padding-right: 20px;
        padding-left: 40px;
    }

    .corner-text{
        width: 25%;
    }
}


