@media only screen and (max-width: 767px){


    .header{
        padding-left: 16px;
        padding-right: 0;
        height: 50px;
    }

    .header-text-holder{
        display: none;
    }

    .af-div-one{
        height: 100px;
    }

    .af-div-three{
        height: 120px;
    }

    #baby-pink-hand{
        height: 150px;
    }

    #coral-hands{
        height: 250px;
    }

    #dark-purple-hand{
        height: 270px;
    }

    #darker-blue-hand{
        height: 194px;
    }

    .footer{
        background-size: 20%;
        height: 644px;
    }

    .uf-div-one{
        padding-left: 0;
    }

    .uf-div-two{
        padding-right: 0;
        padding-left: 0;
    }

    .third-partition{
        padding-left: 0;
    }

    .uf-div-three{
        padding-left: 0;
    }

    .uf-div-four{
        padding-right: 0;
    }

    .footer-dummy{
        display: none;
    }
}