.h1-center{
    font-family: Montserrat-Bold;
    font-size: 32px;
    color: #222222;
    letter-spacing: 0;
    text-align: center;
}

.h1-left{
    font-family: Montserrat-Bold;
    font-size: 32px;
    color: #222222;
    letter-spacing: 0;
    text-align: left;
}

.body-center{
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}

.body-left{
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
    text-align: left;
    line-height: 24px;
}

.button-text{
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    line-height: 16px;
}

.informationText{
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.88px;
    text-align: center;
}