.h1-center{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    color: #222222;
    letter-spacing: 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 16px;
}

.h1-left{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    color: #222222;
    letter-spacing: 0;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 16px;
}

.body-center{
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.body-left{
    font-family: OpenSans-Regular;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
    text-align: left;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.button-text{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
    line-height: 16px;
    margin: 0;
    text-transform: uppercase;
}

.information-text{
    font-family: Montserrat;
    font-weight: medium;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.88px;
    text-align: center;
    text-transform: uppercase;
}