.second-partition{
    display: flex;
    flex-direction: row;
    margin-top: 362px;
    justify-content: space-between;
}

.uf-div-one{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 160px;
    max-width: 356px;
}

.third-partition{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 362px;
    justify-content: space-between;
    padding-left: 60px;
}

.uf-div-two{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-right: 160px;
    max-width: 562px;
}

.p-width-three{
    max-width: 517px;
}

.fourth-partition{
    display: flex;
    flex-direction: row;
    margin-top: 368px;
    justify-content: space-between;
}

.uf-div-three{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 160px;
    max-width: 562px;
}

.p-width-four{
    max-width: 479px;
}

